<div class="title-container">
  <div class="title-tag">
    Your Dashboard
  </div>
</div>

<div class="container-fluid">
  {{#each postData as |post|}}
  <div class="post-element">
    <a href="/dashboard/edit/id={{post.user_id}}&post={{post.id}}" style="text-decoration: none;">
      <div class="card-header">
        <div class="post-title">
          {{post.title}}
        </div>
        <div class="post-creator">
          {{format_date post.date}}
        </div>
      </div>
    </a>
  </div>
  {{/each}}

  <div class="text-center">
    <a href="/dashboard/create/{{user_id}}">
    <button type="button" class="btn btn-dark btn-lg" id="new-post-btn">+ New
      Post</button>
  </div>
  </a>
</div>